{% extends "base.html" %}

{% block content %}

    <h3>Журнал</h3>

    <!-- выбор группы -->
    <form method="get" class="mb-3">
        <select name="group" onchange="this.form.submit()" class="form-select w-25">
            <option value="">Выберите группу</option>

            {% for g in groups %}
                <option value="{{ g.id }}" {% if g.id|stringformat:"s" == request.GET.group %}selected{% endif %}>
                    {{ g.course.title }} — {{ g.name }}
                </option>
            {% endfor %}
        </select>
    </form>
    {% if lessons %}
        <h5>Занятия</h5>

        {% for lesson in lessons %}
            <a href="?group={{ selected_group.id }}&lesson={{ lesson.id }}"
               class="d-block">
                {{ lesson.lesson_date }} ({{ lesson.start_time }})
            </a>
        {% endfor %}
    {% endif %}
    {% if pupils %}
        <h5 class="mt-3">Посещаемость</h5>

        {% for e in pupils %}
            <div>
                {{ e.pupil.user.get_full_name }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}