<form method="post">
    {% csrf_token %}

    {% for e in pupils %}
        <div class="mb-2">
            <strong>{{ e.pupil.user.get_full_name }}</strong>

            <select name="status_{{ e.pupil.id }}" class="form-select w-auto d-inline-block">
                <option value="1">Присутствовал</option>
                <option value="0">Отсутствовал</option>
                <option value="2">Опоздал</option>
            </select>
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary mt-3">
    Сохранить
</button>
</form>