<h4 class="mb-3">
    {{ schedule.group.name }} — {{ schedule.lesson_date }}
</h4>

<form method="post">
    {% csrf_token %}

    <table class="table table-bordered bg-white">
        <thead>
            <tr>
                <th>Ученик</th>
                <th style="width: 200px;">Статус</th>
            </tr>
        </thead>
        <tbody>
            {% for e in pupils %}
                <tr>
                    <td>{{ e.pupil.user.get_full_name }}</td>
                    <td>
                        <select name="status_{{ e.pupil.id }}" class="form-select">
                            <option value="1">Присутствовал</option>
                            <option value="0">Отсутствовал</option>
                            <option value="2">Опоздал</option>
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="submit" class="btn btn-success">
        Сохранить
    </button>
</form>