<div class="bg-light border-end p-3" style="width: 220px; min-height: 100vh;">
    <h6 class="mb-3">Панель педагога</h6>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_dashboard' %}">
                Мои группы
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_journal' %}">
                Журнал
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                Материалы
            </a>
        </li>

    </ul>
</div>