{% extends 'base.html' %}


{% block content %}
<h1>Оставить отзыв</h1>
<p>Курс: <strong>{{course.title}}</strong></p>

<form method="post">
    {% csrf_token %}

    {% for f in form %}
    <p>
        <label for="{{ f.id_for_label }}">{{ f.label }}</label>
        {{ f }}
        {% if f.help_text %}
            <small>{{ f.help_text }}</small>
        {% endif %}
        {% if f.errors %}
            <span class="error">{{ f.errors }}</span>
        {% endif %}
    </p>
    {% endfor %}

    <button type="submit">Отправить отзыва</button>
</form>
<a href="{% url 'course_detail' course_slug=course.slug %}">← Вернуться к курсу</a>
{% endblock %}