<header>
    <div class="container">
        <div class="header-content">
            <div class="logo">
                🎓 EduHub
                <span>Дипломный проект</span>
            </div>
            <nav>
                {% for item in main_menu %}
                    <a href="{% url item.url_name %}"
                       class="{% if item.active %}active{% endif %}">
                        {{ item.title }}
                    </a>
                {% endfor %}
            </nav>
        </div>
    </div>
</header>