{% load core_tags %}
<header>
    <div class="container">
        <div class="header-content">
            <div class="logo">
                🎓 EduHub
                <span>Дипломный проект</span>
            </div>
            <nav>
                {% for item in main_menu %}
                <a href="{% url item.url_name %}"
                   class="{% if item.active %}active{% endif %}">
                    {{ item.title }}
                </a>
                {% endfor %}
                {# Разделитель или просто отступ #}

                {% if user.is_authenticated %}
                <form method="post" action="{% url 'users:logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit"
                            style="background: none; border: none; cursor: pointer; color: inherit; text-decoration: underline; padding-left: 20px;">
                        Выйти
                    </button>
                    <a href="{% url 'users:profile' %}">{{ user.username }}</a>
                    </button>
                </form>
                {% else %}
                <a href="{% url 'users:login' %}">Войти</a><a href="{% url 'users:register' %}">Регистрация</a>
                {% endif %}
            </nav>
        </div>

    </div>
</header>