<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">EduHub</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto align-items-center">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="
                            {% if user.manager_profile %}
                                {% url 'manager_dashboard' %}
                            {% elif user.parent_profile %}
                                {% url 'parent_dashboard' %}
                            {% elif user.teacher_profile %}
                                {% url 'teacher_dashboard' %}
                            {% endif %}
                        ">Дашборд</a>
                </li>
                <li class="nav-item">
                    <span class="navbar-text me-2 text-white">{{ user.get_full_name|default:user.username }}</span>
                </li>
                <li class="nav-item">
                    <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-light btn-sm">Выйти</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>