{% extends 'schedule/base_schedule.html' %}
{% load schedule_tags %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 class="display-4">📅 {{ title }}</h1>
        <h3>Наши курсы:</h3>
        <div class="row">
            {% for course in courses %}
                <div class="col-md-6">
                    {% course_card course %}
                </div>
            {% endfor %}
        </div>
        <p class="lead">Система управления учебным процессом</p>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Возможности системы:</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Курсы</li>
                    <li class="list-group-item">Уроки</li>
                    <li class="list-group-item">Преподаватели</li>
                    <li class="list-group-item">Студенты</li>
                </ul>
            </div>
        </div>

        <p>{% is_weekend %}</p>

        <a href="/admin/" class="btn btn-primary mt-3">Перейти в админку</a>
    </div>
</div>

{% endblock %}