<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EduHub - Управление учебным заведением{% endblock %}</title>

    {% load static %}
    {% load core_tags %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
{% include 'includes/header.html' %}

<div class="layout">
    {% if user.manager_profile %}
        {% include 'core/includes/sidebar_manager.html' %}
    {% endif %}
    <main class="main-content">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</div>

{% include 'includes/footer.html' %}

{% block extra_js %}{% endblock %}
</body>
</html>